/* OVERALL STYLE FOR THIS PROJECT */
body{
    margin-top: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* The top-Header area */
.header-media{
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color:rgb(80, 80, 241);
    color: white;
    font-size: small;
}
#right-media span{
padding-right: 30px;

}
#left-media span {
padding-left: 30px;

}

.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    font-size: small;
}
/* Trigram area */
#trigram{
    display: none;
}
/* Image/logo area */
#logo img{
    height: 60px;
    width: 100px;
}
/* mini-nav area */
#mini-nav{
    display: flex;
    flex-direction: row;
}
#mini-nav li{
    padding-right: 40px;
    list-style: none;
}
#mini-nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
#mini-nav a:hover{
    color:blue ;
}
/* button area */
#entry{
    display: flex;
    align-items: center;

}
#entry i{
    color: black;
    font-weight: bold;
    padding-right: 7px;
}
#entry button{
    padding: 10px;
    color: white;
    border-radius:20px;
    padding-right: 7px;
    border: none;
    margin-right: 5px;
}
#entry button:nth-child(2){
    background-color: rgb(80, 80, 241);
}
#entry button:nth-child(3) {
    background-color:black;
}
#entry button:nth-child(4){
    background-color: #bbb;
}

/* Home section */
#home{
    height: 300px;
    background-color: rgb(80, 80, 241);
    padding: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#home h1{
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 3rem;
}
.booking{
    background-color: white;
    display: flex;
    flex-direction: row;
    color: black;
    padding: 10px;
    margin-top: 5%;
    width: 580px;
    border-radius: 10px;
}
#location {
    border: 1px solid grey;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-right: 10px;
}
#location1{
    background-color: #ddd;
    color: blue;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

#service {
    border: 1px solid grey;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 70px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-right: 10px;
}
#service1{
background-color: #ddd;
color: blue;
border-radius: 50%;
padding: 10px;
margin-right: 10px;
}
#icon{
    text-align: center;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    color: white;
    background-color: rgb(80, 80, 241);
    border-radius: 10px;
}

/* Booking section area */
.step-booking{
    background-color: #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#steps{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#step-item{
    position: relative;
    height: 120px;
    width: 120px;
}
.main-circle{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:all 0.3s ease;
    
}

/* border color for each steps */
#step-item:nth-child(1) .main-circle{
    border:2px solid yellow;
    color: blue;
}
#step-item:nth-child(3) .main-circle{
    border:2px solid blue;
    color: yellow;
}
#step-item:nth-child(5) .main-circle {
    border:2px solid yellow;
    color: blue;
}
#step-item:nth-child(7) .main-circle {
    border:2px solid blue;
    color: yellow;
}
.step-arrow i {
    font-size: 25px;
    transform: scaleY(0.5);
}
/* styling individual arrows */
.step-arrow:nth-child(2) i{
    color: yellow;
}
.step-arrow:nth-child(4) i {
    color: blue;
}
.step-arrow:nth-child(6) i {
    color:yellow;
}
/* Styling icons */
#step-item .main-circle .icon:nth-child(1){
    font-size: 25px;
}
#step-item .main-circle .step-label:nth-child(2){
    font-size: 20px;
}

/* Sty7ling the small circle */
.badge-circle{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    border: 3px solid white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

#step-item:nth-child(3) .badge-circle{
    background-color: yellow;
}
#step-item:nth-child(7) .badge-circle {
    background-color: yellow;
}

/* Service Section */
#services{
    border: 1px solid red;
    margin-top: 0;
    background-color: white;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}
.service-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-heading h3{
    font-size: 1.5rem;
}
.service-heading p{
    color: #444;
}
.service-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}


@media screen and (max-width:1023px) and (min-width:768px){
    /* header area */
    .header-nav {
            padding-left: 0.5%;
            padding-right: 0.5%;
        }
    /* Header-nav area */
   #mini-nav{
    display: none;
   } 
   #trigram{
    display: flex;
    margin-left: 10px;
    font-weight: bold;
   }
   #trigram button{
    border-radius: 5px;
    color:black ;
    background-color: grey;
    padding: 10px;
   }
   /* booking area */
   #step-item {
       
       height: 90px;
       width: 90px;
   }

   /* Styling icons */
   #step-item .main-circle .icon:nth-child(1) {
       font-size: 20px;
   }
   #step-item .main-circle .step-label:nth-child(2) {
       font-size: 16px;
   }
   /* styling circle */
   .badge-circle {
       width: 28px;
       height: 28px;
   }
}

@media screen and (max-width:767px) and (min-width:425px){
    /* header media area */
    .header-nav{
        padding-left: 0.5%;
        padding-right: 1%;
    }
    #right-media{
        display: none;
    }
    #left-media{
        display: flex;
        justify-content: space-between;
    }
    /* Header-nav area */
    #mini-nav {
        display: none;
    }

    #trigram {
        display: flex;
        margin-left: 10px;
        font-weight: bold;
    }

    #trigram button {
        border-radius: 5px;
        color: black;
        background-color: grey;
        padding: 10px;
    }
/* Home section */
#home {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home h1 {
    font-size: 2rem;
    text-align: center;
}

.booking {
    width: 200px;
    height: 170px;
    font-size: 12px;
    flex-direction: column;
    text-align: center;
}

#location {
    padding-top: 2.5px;
    display: flex;
    text-align: left;
    margin-right: 0px;
    margin-bottom: 10px;
}


#service {
    border: 1px solid grey;
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
}
#icon {
    text-align: center;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
}
/* booking area */

#step-item {

    height: 60px;
    width: 60px;
}

/* Styling icons */
#step-item .main-circle .icon:nth-child(1) {
    font-size: 16px;
}
#step-item .main-circle .step-label:nth-child(2) {
    font-size: 12px;
}

/* styling circle */
.badge-circle {
    width: 20px;
    height: 20px;
}
}


@media screen and (max-width:424px){
    /* media area */
    .header-media {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
        }
    #right-media {
        display: none;
    }
    /* Header-nav area */
    #mini-nav {
        display: none;
    }

    #trigram {
        display: flex;
        margin-left: 5px;
        font-weight: bold;
    }

    #trigram button {
        border-radius: 5px;
        color: black;
        background-color: grey;
        padding: 10px;
    }
/* Home section */
#home {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home h1 {
    font-size: 2rem;
    text-align: center;
}

.booking {
    width: 200px;
    height: 170px;
    font-size: 12px;
    flex-direction: column;
}

#location {
    padding-top: 2.5px;
    display: flex;
    text-align: left;
    margin-right: 0px;
    margin-bottom: 10px;
}


#service {
    border: 1px solid grey;
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
}

#icon {
    text-align: center;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
}
/* booking area */

#step-item {

    height: 60px;
    width: 60px;
}

/* Styling icons */
#step-item .main-circle .icon:nth-child(1) {
    font-size: 16px;
}

#step-item .main-circle .step-label:nth-child(2) {
    font-size: 12px;
}

/* styling circle */
.badge-circle {
    width: 20px;
    height: 20px;
}
}